$color1: #111111;
$color2: #3F4E65;
$color3: linear-gradient(180deg, #6CD0E9 14.1%, #6CADE9 57.69%);
$color4: linear-gradient(90deg, #39ACFD 0%, #5EB9FF 97.25%);
$color5: #FFC85E;
$color6: #FFC85E;
$color7: #F3A50D;