@import url('./resetStyle.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "variables";

#root {
	height: 100%;
}

* {
	font-family: 'Inter';
	font-size: 14px;
	font-weight: 400;
}

button {
	border: 0;
	padding: 0;

	&:focus {
		border: 0;
		outline: none;
	}
}

.App {
	overflow-x: hidden;
	max-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	position: relative;
	
	&::before {
		// content: '';
		position: fixed;
		z-index: 1;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100vh;
		background-color: #fff;
		transition: left 0.4s ease 0s;
	}
	
	&.lock {
		overflow: hidden;

		&::before {
			left: 0;
		}

	}
}

.container {
	max-width: 1397px;
	padding: 0 15px;
	min-height: 100%;
	margin: 0 auto;

	@media (max-width: 1440px) {
		max-width: 1225px;
	}

	@media (max-width: 768px) {
		padding: 0;
	}
}

.header {

}

.content {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 70px;
}

a {
	transition: color 0.3s ease 0s;

	&:hover {
		color: orange;
		text-decoration: underline;
	}
}

// HEADER ==================================================================================================
.header {

	// .header__top
	&__top {
	}

	// .header__bottom
	&__bottom {
	}
}

// header top ================================================
.top-header {
	border-bottom: 1px solid rgba(63, 78, 101, 0.2);

	// .top-header__row
	&__row {
		display: flex;
		align-items: center;
		column-gap: 15px;
	}

	// .top-header__location
	&__location {
	}

	// .top-header__mail
	&__mail {
	}

	// .top-header__menu
	&__menu {
	}
}

.location {
	display: flex;
	align-items: center;
	column-gap: 15px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		right: -30px;
		top: -2px;
		height: 39px;
		width: 0;
		border-right: 1px dashed rgba(63, 78, 101, 0.1);

		@media (max-width: 997px) {
			right: 0px;
			top: 5px;
		}

		@media (max-width: 768px) {
			display: none;
		}
	}

	@media (max-width: 997px) {
		column-gap: 10px;
		max-width: 170px;
	}

	// .location__icon
	&__icon {
		max-width: 14px;
		max-height: 17px;
	}

	// .location__address
	&__address {
		font-family: "Inter";

		& p {
			font-size: 12px;
			line-height: (15.6px / 12px) * 100%;
			font-weight: 300;
			color: #3F4E65;
		}

		& p.bold {
			font-size: 14px;
			line-height: (18.2px / 14px) * 100%;
			font-weight: 600;
			color: #111111;
		}
	}
}

.mail {
	margin-left: 40px;
	display: flex;
	align-items: center;
	column-gap: 17px;
	text-decoration: none;

	@media (max-width: 997px) {
		column-gap: 10px;
		margin: 0;
	}

	&:hover .mail__email p {
		color: orange;
	}

	// .mail__icon
	&__icon {
		max-width: 20px;
		max-height: 20px;
	}

	// .mail__email
	&__email {
		font-family: "Inter";

		& p {
			font-size: 12px;
			line-height: (15.6px / 12px) * 100%;
			font-weight: 300;
			color: #3F4E65;
			transition: color 0.3s ease 0s;
		}

		& p.bold {
			font-size: 14px;
			line-height: (18.2px / 14px) * 100%;
			font-weight: 600;
			color: #111111;
		}
	}
}

.menu-header {
	margin-left: auto;

	&__title {
		font-size: 20px;
		line-height: 150%;
		color: $color2;
		font-weight: 600;
		display: none;
	}

	// .menu__list
	&__list {
		display: flex;
		align-items: center;
		column-gap: 60px;
		padding: 20px 0;

		@media (max-width: 1225px) {
			column-gap: 30px;
		}

		@media (max-width: 997px) {
			column-gap: 20px;
		}

		@media (max-width: 997px) {
			column-gap: 15px;
		}
	}

	// .menu__item
	&__item {
		position: relative;

		&:not(:last-child):before {
			content: '';
			position: absolute;
			right: -30px;
			top: -2px;
			height: 29px;
			width: 0;
			border-right: 1px dashed rgba(63, 78, 101, 0.1);

			@media (max-width: 1225px) {
				right: -15px;
			}

			@media (max-width: 997px) {
				right: -7px;
			}

			@media (max-width: 768px) {
				display: none;
			}
		}
	}

	// .menu__link
	&__link, &__link a {
		font-size: 14px;
		font-weight: 400;
		line-height: (21px / 14px) * 100%;
		color: #3F4E65;
		text-decoration: none;

		@media (max-width: 840px) {
			font-size: 13px;
		}
	}
}

// header bottom =============================================

.bottom-header {
	padding: 21px 0;
	border-bottom: 1px solid rgba(63, 78, 101, 0.2);

	// .bottom-header__row
	&__row {
		display: flex;
		align-items: center;

		@media (max-width: 1440px) {
			justify-content: space-between;
			column-gap: 20px;
		}

		@media (max-width: 1225px) {
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			row-gap: 5px;
		}
	}

	// .bottom-header__logo

	&__logo {
		flex: 0 1 156px;
		margin-right: 38px;
		min-width: 120px;

		@media (max-width: 1440px) {
			margin: 0;
		}

		@media (max-width: 1225px) {
			grid-area: 1 / 1 / 2 / 2;
		}
	}

	// .bottom-header__catalog
	&__catalog {
		flex: 0 1 auto;
		margin-right: 15px;

		@media (max-width: 1440px) {
			margin: 0;
		}

		@media (max-width: 1225px) {
			grid-area: 2 / 1 / 3 / 2;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// .bottom-header__search-form
	&__search-form {
		flex: 1 1 263px;
		margin-right: 35px;

		@media (max-width: 1440px) {
			margin: 0;
		}

		@media (max-width: 1225px) {
			grid-area: 1 / 2 / 2 / -2;
		}
	}

	// .bottom-header__support
	&__support {
		flex: 0 1 236px;
		margin-right: 50px;

		@media (max-width: 1440px) {
			margin: 0;
		}

		@media (max-width: 1225px) {
			grid-area: 2 / -3 / 3 / -1;
		}
	}

	// .bottom-header__pricelist
	&__pricelist {
		flex: 0 1 auto;
		margin-right: 50px;

		@media (max-width: 1440px) {
			margin: 0;
		}

		@media (max-width: 1225px) {
			grid-area: 2 / 3 / 3 / 4;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	// .bottom-header__cart
	&__cart {
		flex: 0 0 128px;
		margin-left: auto;

		@media (max-width: 1225px) {
			grid-area: 1 / -2 / 2 / -1;
			min-width: 125px;
		}

		@media (max-width: 480px) {
			min-width: 20px;
		}
	}
}

.logo {
	max-height: 66px;

	// .logo__image
	&__image {
		max-width: 100%;
		max-height: 100%;
	}
}

.catalog {
	background-color: $color6;
	cursor: pointer;
	padding: 21px 54px;
	border: 0;
	border-radius: 79px;
	display: flex;
	column-gap: 12px;
	align-items: center;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	@media (max-width: 1440px) {
		padding: 17px 40px;
	}

	@media (max-width: 1225px) {
		padding: 17px 50px;
	}

	& span {
		font-weight: 700;
		line-height: (17px / 14px) * 100%;
		color: #fff;
	}

	& img {
		max-width: 15px;
		max-height: 15px;
	}
}

.search-form-header {
	background-color: #EDEDED;
	border-radius: 36px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 10px 10px 20px;

	@media (max-width: 1440px) {
		padding: 5.5px 10px 5.5px 20px;
	}

	& input {
		outline: none;
		border: 0;
		background-color: transparent;

		&::placeholder {
			color: #5C6370;
			font-size: 12px;
			line-height: (18px / 12px) * 100%;
			opacity: 0.6;
		}
	}

	& button {
		width: 39px;
		height: 39px;
		border-radius: 50%;
		background-color: $color5;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;

		&:focus {
			outline: none;
			border: 0;
		}

		& img {
			max-width: 15px;
			max-height: 15px;
		}
	}
}

.support {
	display: flex;
	align-items: center;
	column-gap: 10px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		right: -20px;
		top: 8px;
		height: 49px;
		width: 0;
		border-right: 1px dashed rgba(63, 78, 101, 0.1);

		@media (max-width: 1440px) {
			right: -9px;
		}

		@media (max-width: 1225px) {
			display: none;
		}
	}


	// .support__info
	&__info {
		flex: 1 0 160px;
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		text-align: right;

		@media (max-width: 1225px) {
			flex: 1 1 160px;
			row-gap: 0;
		}
	}

	// .support__phone-number
	&__phone-number {
		font-weight: 600;
		color: $color1;
		line-height: 150%;
		white-space: nowrap;

		@media (max-width: 1225px) {
			font-size: 12px;
		}
	}

	// .support__work-times
	&__work-times {
		font-weight: 300;
		color: $color2;
		line-height: 150%;
		font-size: 12px;

		@media (max-width: 1225px) {
			font-size: 10px;
		}

		& span {
			white-space: nowrap;
		}
	}

	// .support__call
	&__call {
		font-size: 10px;
		color: $color2;
		line-height: 150%;
	}

	// .support__image-box
	&__image-box {
		flex: 0 1 74px;
		max-height: 113px;
		position: relative;
		max-height: 65px;

		@media (max-width: 1225px) {
			flex: 0 1 56px;
		}
	}

	// .support__image
	&__image {
		border-radius: 50%;
		max-height: 65px;
		max-width: 100%;
	}

	// .support__online-point
	&__online-point {
		position: absolute;
		top: 29px;
		right: 6px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background-color: #1FD85D;
		border: 2px solid #F0F6FA;

		@media (max-width: 1440px) {
			top: 15px;
			right: 0px;
		}

		@media (max-width: 1225px) {
			top: 24px;
			right: 6px;
		}
	}
}

.pricelist {
	background-color: $color6;
	display: flex;
	align-items: center;
	column-gap: 12px;
	padding: 21px 43.5px;
	border: 0;
	border-radius: 79px;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		right: -34px;
		top: 3px;
		height: 49px;
		width: 0;
		border-right: 1px dashed rgba(63, 78, 101, 0.1);

		@media (max-width: 1440px) {
			right: -9px;
		}

		@media (max-width: 1225px) {
			display: none;
		}
	}

	@media (max-width: 1440px) {
		padding: 17px 40px;
	}

	@media (max-width: 1225px) {
		padding: 17px 50px;
		margin: 0 auto;
	}

	&:focus {
		outline: none;
		border: 0;
	}

	// .pricelist__text
	& span {
		font-weight: 700;
		line-height: (17px / 14px) * 100%;
		color: #fff;
		white-space: nowrap;
	}

	// .pricelist__image
	&__image {
		max-width: 17px;
		max-height: 17px;
	}
}

.cart {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: transparent;
	cursor: pointer;
	border: 0;
	padding: 0;
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}

	&:focus {
		outline: none;
		border: 0;
	}

	// .cart__image-box
	&__image-box {
		position: relative;
		flex: 0 0 46px;
		height: 46px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 480px) {
			margin-left: auto;
		}
	}

	// .cart__image
	&__image {
		max-width: 100%;
		max-height: 100%;
	}

	// .cart__products-number
	&__products-number {
		position: absolute;
		left: 34px;
		top: 2px;
		width: 22px;
		height: 22px;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $color6;
		border-radius: 50%;
		border: 3px solid #fff;

		& span {
			font-size: 11px;
			font-weight: 700;
			line-height: (17px / 14px) * 100%;
			color: #fff;
		}
	}

	// .cart__info
	&__info {
		font-weight: 300;
		font-size: 12px;
		line-height: 150%;
		color: $color2;
		flex: 1 1 auto;
		text-align: right;

		@media (max-width: 480px) {
			display: none;
		}
	}

	// .cart__sum
	&__sum {
		font-weight: 600;
		font-size: 14px;
		color: $color1;
	}
}

// MOBILE SIZES ( <768px ) ============================================
.burger {
	@media (min-width: 769px) {
		display: none;
	}
	padding-left: 15px;
	
	&__button {
		width: 32px;
		height: 32px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $color5;
		border: 0;
		position: relative;
		cursor: pointer;
		
		&::before {
			content: '';
			position: absolute;
			z-index: 22;
			top: 11.9px;
			left: 11px;
			width: 10px;
			height: 1.5px;
			background-color: #fff;
		}

		&::after {
			content: '';
			position: absolute;
			z-index: 22;
			top: 18.4px;
			left: 11px;
			width: 10px;
			height: 1.5px;
			background-color: #fff;
		}

		& span {
			width: 10px;
			height: 1.5px;
			background-color: #fff;
			
		}
	}
}

@media (max-width: 768px) {
	.header {
		position: relative;
		z-index: 6;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.top-header {
		order: 2;
		border-bottom: 0;
		
		&__row {
			background-color: #fff;
			transition: left 0.4s ease 0s;
			position: fixed;
			width: 100vw;
			height: 100%;
			z-index: 4;
			top: 0;
			left: -100%;
			display: flex;
			flex-direction: column;
			row-gap: 15px;
			align-items: start;
			padding: 123px 14px 32px;
			overflow-y: scroll;
		}
	}

	.top-header__row._active {
		left: 0;
	}

	.bottom-header {
		border-bottom: 0;
		order: 1;
		position: fixed;
		width: 100%;
		z-index: 5;
		background-color: #fff;
		padding: 0;

		&::after {
			content: '';
			position: absolute;
			top: 61px;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $color2;
			opacity: 0.1;
		}
		
		&__row {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: 62px 41px;
			gap: 0;
		}

		&__logo {
			grid-area: 1 / 2 / 2 / 4;
			text-align: center;
			
			& img {
				max-height: 41px;
			}
		}


		&__catalog {
			grid-area: 2 / 1 / 3 / 3;
		}

		&__search-form {
			grid-area: 2 / 3 / 3 / 5;
		}

		&__cart {
			padding-right: 15px;
		}
	}

	// bottom
	.catalog {
		border-radius: 0;
		position: relative;
		background-color: transparent;
		padding: 13px;
		display: flex;
		flex-direction: row-reverse;
		column-gap: 6px;
		
		& span {
			color: $color2;
			font-size: 12px;
			font-weight: 600;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $color2;
			opacity: 0.1;
		}

		&::after {
			content: '';
			position: absolute;
			right: 0;
			top: 6px;
			height: 30px;
			width: 0;
			border: 1px dashed $color2;
			opacity: 0.1;
		}
	}

	.search-form-header {
		border-radius: 0;
		padding: 0;
		background-color: transparent;
		position: relative;
		display: flex;
		flex-direction: row-reverse;
		justify-content: end;
		align-items: center;
		column-gap: 8px;

		& input {
			min-width: 1px;
			flex: 0 1 50%;
			padding: 13px 0px 12px;
			&::placeholder {
				font-size: 12px;
				font-weight: 600;
				color: $color2;
			}
		}

		& button {
			background-color: transparent;
			max-width: 18px;
			max-height: 18px;
		}

		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $color2;
			opacity: 0.1;
		}
	}

	// top
	.location {
		order: 1;
		max-width: 100%;
		column-gap: 19px;

		&__icon {
			position: relative;
			left: 2px;
		}
	}

	.mail {
		order: 2;
		column-gap: 15px;
	}

	.support {
		order: 3;
		flex: 1 1 auto;
		display: flex;
		flex-direction: row-reverse;
		align-items: start;
		column-gap: 17px;
		margin-bottom: 10px;

		&__image-box {
			position: relative;
			left: 1px;
			top: 8px;
			max-width: 15px;
			max-height: 15px;

			& img {
				max-width: 100%;
				max-height: 100%;
			}
		}

		&__online-point {
			display: none;
		}

		&__info {
			text-align: left;
		}

		&__sales-dep {
			line-height: (18.2px / 14px) * 100%;
			font-weight: 600;
			color: $color1;
		}

		&__phone-number {
			font-size: 12px;
			font-weight: 300;
			color: $color2;
			margin-bottom: 5px;
		}

		&__work-times {
			font-size: 12px;
			margin-bottom: 20px;
		}

		&__call {
			display: flex;
			column-gap: 7px;
			align-items: center;
			position: relative;
			left: -32px;

		}

		&__call-image-box {
			background-color: $color5;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;

			& img {

			}
		}
	}

	.menu-header {
		order: 4;
		padding-top: 25px;
		position: relative;
		margin: 0;
		width: 100%;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			border: 1px dashed $color2;	
			opacity: 0.2;
		}

		&__title {
			display: block;
		}

		&__list {
			padding: 25px 0 0;
			margin-bottom: 22px;
			display: flex;
			flex-direction: column;
			align-items: start;
			row-gap: 20px;
		}

		&__link {
			font-size: 14px;
		}
	}

	.pricelist {
		order: 5;
		max-width: 400px;
		width: 100%;
	}

}


// FOOTER ==============================================================================================================
.footer {
	background-color: $color2;
	color: #fff;

	// .footer__row
	&__row {
		position: relative;
		display: flex;
		padding: 71px 0 116px;

		@media (max-width: 1110px) {
			display: grid;
			grid-template-rows: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
			row-gap: 60px;
			column-gap: 30px;

		}

		@media (max-width: 997px) {
			column-gap: 30px;
		}

		@media (max-width: 768px) {
			padding: 40px 15px 50px;
			grid-template-columns: 3fr 2fr;
			grid-template-rows: repeat(auto-fill, minmax(150px, 1fr));
			column-gap: 0;
			row-gap: 25px;
		}

		@media (max-width: 600px) {
			padding: 15px;
		}
	}

	// .footer__subscribe-logo
	&__subscribe-logo {
		flex: 0 1 320px;
		margin-right: 60px;

		@media (max-width: 1440px) {
			flex: 0 1 280px;
			margin-right: 45px;
		}

		@media (max-width: 1225px) {
			margin-right: 30px;
			flex: 0 1 250px;
		}

		@media (max-width: 1110px) {
			grid-area: 1 / 1 / 2 / 2;
		}

		@media (max-width: 768px) {
			grid-area: 1 / 1 / 2 / -1;
			margin: 0 0 5px 0;
		}
	}

	// .footer__company-description
	&__company-description {
		font-size: 16px;
		line-height: 150%;
		margin-bottom: 45px;

		@media (max-width: 768px) {
			margin-bottom: 15px;
		}
		
		& span {
			white-space: nowrap;
		}
	}

	// .footer__subscribe
	&__subscribe {
		
	}

	// .footer__lists
	&__lists {
		flex: 0 1 400px;
		display: flex;
		column-gap: 90px;
		margin-right: 95px;

		@media (max-width: 1440px) {
			margin-right: 60px;
			column-gap: 50px;
		}

		@media (max-width: 1225px) {
			margin-right: 30px;
			column-gap: 45px;
		}

		@media (max-width: 1110px) {
			grid-area: 1 / 2 / 2 / 3;
			margin-right: 0;
			column-gap: 90px;
			justify-content: end;
		}

		@media (max-width: 997px) {
			column-gap: 30px;
		}

		@media (max-width: 768px) {
			grid-area: 2 / 1 / 3 / -1;
			justify-content: space-between;
			column-gap: 10px;
		}
	}

	// .footer__messengers-pricelist
	&__messengers-pricelist {
		flex: 0 1 220px;
		margin-right: 95px;

		@media (max-width: 1440px) {
			margin-right: 60px;
		}

		@media (max-width: 1225px) {
			margin-right: 30px;
			flex: 0 1 250px;
		}

		@media (max-width: 1110px) {
			grid-area: 2 / 1 / 3 / 2;
			margin: 0;
		}

		@media (max-width: 768px) {
			grid-area: 3 / 2 / 4 / 3;
			justify-self: start;
		}
	}

	// .footer__contacts
	&__contacts {
		flex: 0 1 160px;

		@media (max-width: 1110px) {
			grid-area: 2 / 2 / 3 / 3;
			justify-self: end;
		}

		@media (max-width: 768px) {
			grid-area: 3 / 1 / 4 / 2;
			justify-self: start;
		}
	}
}

.subscribe-footer {

	&__title {
		font-size: 12px;
		line-height: 150%;
		margin-bottom: 15px;
	}

	// .subscribe-footer__form
	&__form {
		display: flex;
		justify-content: space-between;
		background-color: #fff;
		padding: 10px 10px 10px 20px;
		column-gap: 10px;
		border-radius: 36px;

		
	}

	// .subscribe-footer__input
	&__input {
		flex: 1 1 auto;
		border: 0;

		&:focus {
			outline: 0;
		}

		&::placeholder {
			font-size: 12px;
			line-height: 150%;
			color: #5C6370;
		}
	}

	// .subscribe-footer__submit
	&__submit {
		width: 39px;
		height: 39px;
		background-color: $color5;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		border: 0;
		cursor: pointer;

		& img {
			max-width: 15px;
			max-height: 15px;
		}

		&:focus {
			border: 0;
			outline: none;
		}
	}
}

.footer-logo {
	display: block;
	margin-bottom: 15px;

	@media (max-width: 480px) {
		max-height: 42px;
		max-width: 100px;
	}
}

.footer-list {

	&__title {
		font-size: 20px;
		line-height: 150%;
		font-weight: 600;
		margin-bottom: 25px;

		@media (max-width: 1110px) {
			font-size: 24px;
		}

		@media (max-width: 900px) {
			font-size: 20px;
		}

		@media (max-width: 768px) {
			margin-bottom: 20px;
		}
	}

	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 20px;
	}

	&__link {
		line-height: 150%;
		transition: color 0.4s ease 0s;
		color: #fff;
		text-decoration: none;

		@media (max-width: 1110px) {
			font-size: 18px;
		}

		@media (max-width: 900px) {
			font-size: 14px;
		}

		@media (max-width: 480px) {
			font-size: 12px;
		}

		&:hover {
			color: $color6;
		}
	}
}

.messengers-pricelist {
	display: flex;
	flex-direction: column;
	row-gap: 20px;

	@media (max-width: 768px) {
		display: block;
	}

	// .messengers-pricelist__pricelist
	&__pricelist {

		& h1 {
			font-size: 20px;
			font-weight: 600;
			line-height: 150%;
			margin-bottom: 25px;

			@media (max-width: 1110px) {
				font-size: 24px;
			}

			@media (max-width: 900px) {
				font-size: 20px;
			}

			@media (max-width: 768px) {
				display: none;
			}
		}

		& button {
			padding: 21px 54px;
			display: flex;
			justify-content: space-between;
			column-gap: 12px;
			border-radius: 79px;
			background-color: $color5;
			border: 0;
			cursor: pointer;

			@media (max-width: 600px) {
				position: absolute;
				top: 15px;
				right: 15px;
			}

			@media (max-width: 480px) {
				padding: 12px 30px;
			}

			&:focus {
				border: 0;
				outline: none;
			}

			& span {
				font-weight: 700;
				line-height: (17px / 14px) * 100%;
				color: #fff;

				@media (max-width: 480px) {
					font-size: 12px;
				}
			}

			& img {
				max-width: 17px;
				max-height: 17px;
			}
		}
	}

	// .messengers-pricelist__messengers
	&__messengers {
		
	}
}

.messengers {

	@media (max-width: 600px) {
		padding-top: 50px;
	}

	& h1 {
		line-height: 150%;
		margin-bottom: 15px;

		@media (max-width: 1110px) {
			font-size: 18px;
		}

		@media (max-width: 900px) {
			font-size: 14px;
		}
	}

	// .messengers__buttons
	&__buttons {
		display: flex;
		column-gap: 10px;

		& button {
			width: 39px;
			height: 39px;
			border-radius: 50%;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 0;

			&:focus {
				border: 0;
				outline: none;
			}
		}
	}

	&__whatsapp {
		background-color: #00E676;
	}
}

.contacts {

	&__title {
		font-size: 20px;
		line-height: 150%;
		font-weight: 600;
		margin-bottom: 25px;

		@media (max-width: 1110px) {
			font-size: 24px;
		}

		@media (max-width: 900px) {
			font-size: 20px;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		margin-bottom: 25px;
	}

	&__phone-number {
		line-height: 150%;
		font-weight: 600;
		
		@media (max-width: 1110px) {
			font-size: 18px;
		}

		@media (max-width: 900px) {
			font-size: 14px;
		}
	}

	&__work-times {
		font-size: 12px;
		font-weight: 300;
		line-height: 150%;

		@media (max-width: 1110px) {
			font-size: 16px;
		}

		@media (max-width: 900px) {
			font-size: 12px;
		}
	}

	&__call {
		font-size: 10px;
		line-height: 150%;
		color: #fff;

		@media (max-width: 1110px) {
			font-size: 14px;
		}

		@media (max-width: 900px) {
			font-size: 10px;
		}
	}

	&__mail {
		margin: 0 0 25px 0;
		text-align: left;

		& .mail__email {
			& p {
				font-size: 12px;
				font-weight: 300;
				line-height: (15.6px / 12px) * 100%;
				color: #fff;

				@media (max-width: 1110px) {
					font-size: 16px;
				}

				@media (max-width: 900px) {
					font-size: 12px;
				}
			}

			& p.bold {
				font-size: 14px;
				font-weight: 600;

				@media (max-width: 1110px) {
					font-size: 18px;
				}

				@media (max-width: 900px) {
					font-size: 14px;
				}
			}
		}
	}

	// .contacts__cards
	&__cards {
		display: flex;
		column-gap: 5px;

		@media (max-width: 1110px) {
			column-gap: 25px;
		}

		& a {
			display: block;
			max-width: 62px;
			max-height: 40px;
		}
	}
}

// CATALOG-CONTENT ====================================================================================================================
.content {
	@media (max-width: 997px) {
		padding: 103px 15px 0;
	}

	&__breadcrumbs {
		padding: 45px 0 0px;

		@media (max-width: 997px) {
			display: none;
		}
	}
}

.breadcrumbs {

	&__list {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}

	&__item {
		font-size: 14px;
		line-height: (17px / 14px) * 100%;
		font-weight: 300;
		color: rgba(63, 78, 101, 0.5);
		position: relative;
	
		& a {
			color: rgba(63, 78, 101, 1);
			text-decoration: none;
			transition: all 0.4s ease 0s;

			&:hover {
				text-decoration: underline;
				color: orange;
			}
		}

		&::before {
			content: '';
			position: absolute;
			right: -10px;
			top: 0;
			height: 100%;
			width: 0;
			border: 1px dashed rgba(63, 78, 101, 0.3);
		}

		&:last-child::before {
			border: 0;
		}
	}
}

.catalog-content {
	padding: 0 0 100px;

	@media (max-width: 768px) {
		padding: 0 0 50px;
	}

	&__menu {
		display: grid;
		grid-template-columns: 230px 1fr;
		grid-template-rows: minmax(48px, 125px) minmax(70px, 80px) minmax(40px, 70px) 1fr minmax(35px, 60px) minmax(60px, 100px);

		@media (max-width: 1225px) {
			grid-template-rows: minmax(48px, auto) auto auto auto auto auto;
		}

		@media (max-width: 768px) {
		}
	}

	&__top {
		grid-area: 1 / 1 / 2 / -1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 50px 0 25px;

		@media (max-width: 997px) {
			margin-bottom: 10px;
		}
	}

	&__title {
		font-size: 40px;
		line-height: (48px / 40px) * 100%;
		font-weight: 500;
		color: $color1;
		text-transform: uppercase;

		@media (max-width: 997px) {
			font-size: 32px;
		}
	}

	&__sort {
	}

	&__filters-top {
		grid-area: 2 / 1 / 3 / -1;
	}

	&__selected-filters {
		grid-area: 3 / 1 / 4 / -1;
	}

	&__sidebar {
		grid-area: 4 / 1 / -1 / 2;
	}

	&__products {
		grid-area: 4 / 2 / -3 / -1;
	}

	&__loading {
		padding-top: 100px;
		letter-spacing: 1px;
		text-align: center;
		font-size: 30px;
		font-weight: 500;
		color: orange;
		text-decoration: underline;
	}

	&__pagination {
		grid-area: -3 / 2 / -2 / -1;
	}

	&__bottom-info {
		grid-area: -2 / 2 / -1 / -1;

		@media (max-width: 997px) {
			grid-area: -2 / 1 / -1 / -1;
		}
	}

	@media (max-width: 768px) {
		&__menu {
			display: flex;
			flex-direction: column;
		}

		&__top {
			order: 1;
			padding: 25px 0 20px;
		}

		&__title {
			font-size: 20px;
		}

		&__sidebar {
			order: 2;
		}

		&__filters-top {
			order: 3;
		}

		&__sort {
			order: 4;
		}

		&__products {
			order: 5;
		}
		&__products.hidden {
			display: none;
		}

		&__pagination {
			order: 6;
		}

		&__bottom-info {
			order: 7;
		}
	}
}

.sort-content {

	// .sort-content__form
	&__form {
	}

	// .sort-content__label
	&__label {
		font-size: 16px;
		font-weight: 500;
		line-height: 150%;
		color: $color1;

		@media (max-width: 997px) {
			font-size: 14px;
		}

		@media (max-width: 768px) {
			font-size: 16px;
		}
	}

	// .sort-content__select
	&__select {
		border: 0;
		-moz-appearance:none; /* Firefox */
		-webkit-appearance:none; /* Safari and Chrome */
		appearance:none;
		padding: 3px 15px 3px 5px;
		font-size: 16px;
		line-height: 150%;
		color: $color2;
		cursor: pointer;

		@media (max-width: 997px) {
			font-size: 14px;
		}
	}

	// .sort-content__option
	&__option {

		// .sort-content__option_name-asc
		&_name-asc {
		}

		// .sort-content__option_name-desc
		&_name-desc {
		}

		// .sort-content__option_price-asc
		&_price-asc {
		}

		// .sort-content__option_price-desc
		&_price-desc {
		}
	}
}

.filters-top {
	display: flex;
	align-items: center;

	&__list {
		display: flex;
		justify-content: space-between;
		column-gap: 10px;
	}

	&__list.top-only {
		@media (max-width: 1225px) {
			display: grid;
			grid-template-rows: repeat(2, auto);
			grid-template-columns: repeat(6, auto);
		}

		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			align-items: start;
			justify-content: start;
			row-gap: 10px;
			margin-bottom: 25px;
		}
	}

	&__item {
		padding: 14px 6px;
		cursor: pointer;
		font-size: 14px;
		font-weight: 400;
		line-height: (17px / 14px) * 100%;
		color: $color2;
		box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.14);
		border-radius: 10px;
		border: 2px solid transparent;
		text-align: center;

		@media (max-width: 768px) {
			box-shadow: 0px 0px 0px 0px;
			padding: 0;
		}
	}

	&__item._active {

	}
}
._active-filter {
	border: 2px solid orange;

	@media (max-width: 768px) {
		border: 0;
		text-decoration: underline;
		text-decoration-color: orange;
	}
}

.selected-filters {
	padding: 10px 0 0;
	border-radius: 20px;

	@media (max-width: 768px) {
		order: 5;
	}

	&__care-types {
		display: flex;
		align-items: center;
		column-gap: 5px;

		& h1 {
			font-size: 12px;
			font-weight: 500;
			color: orange;
		}

		& ul {
			display: flex;
			column-gap: 5px;

			& li {
				font-size: 11px;
				font-weight: 300;
				color: $color1;
			}
		}
	}

	&__others {
		display: flex;
		align-items: center;
		column-gap: 20px;
	}

	&__manufacturer {
		display: flex;
		align-items: center;
		column-gap: 5px;

		& h1 {
			font-size: 12px;
			font-weight: 500;
			color: orange;
		}

		& ul {
			display: flex;
			column-gap: 5px;

			& li {
				font-size: 11px;
				font-weight: 300;
				color: $color1;
			}
		}
	}

	&__prices {
		display: flex;
		align-items: center;
		column-gap: 10px;
	}

	&__price {
		font-size: 12px;
		font-weight: 500;
		color: orange;

		& span {
			font-size: 11px;
			font-weight: 300;
			color: $color1;
		}
	}
}

.products {
	padding: 30px 0 50px 20px;

	@media (max-width: 768px) {
		padding: 0 0 45px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(auto-fill, minmax(490px, 1fr));
		gap: 15px;
		justify-content: space-between;

		@media (max-width: 1225px) {
			grid-template-columns: repeat(2, auto);
		}

		@media (max-width: 997px) {
			display: flex;
			flex-direction: column;
			column-gap: 20px;
			align-items: center;
		}
	}

	&__item {
	}

	&__empty {
		text-align: center;
		font-size: 18px;
		font-weight: 500;
		text-decoration: underline;
		@media (max-width: 768px) {
			padding-top: 30px;
		}
	}
}

.single-product {	
	max-width: 326px;
	border-radius: 10px;
	box-shadow: 0px 14px 39px -11px rgba(0, 0, 0, 0.1);
	padding: 30px 22px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@media (max-width: 1225px) {
		max-width: 370px;
	}

	@media (max-width: 997px) {
		flex-direction: row;
		max-width: 100%;
		column-gap: 10px;
	}

	@media (max-width: 600px) {
		flex-direction: column;
		row-gap: 5px;
	}
	

	&__info {
		@media (max-width: 997px) {
			display: flex;
			flex-direction: column;
			row-gap: 5px;
		}
	}

	&__image-box {
		flex: 1 1 220px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		margin-bottom: 5px;

		@media (max-width: 997px) {
			flex: 1 0 150px;
			margin-bottom: 0;
		}

		& img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	&__size {
		display: flex;
		column-gap: 5px;
		margin-bottom: 10px;

		@media (max-width: 997px) {
			margin-bottom: 0;
			order: 6;
		}

		@media (max-width: 600px) {
			margin-bottom: 10px;
			order: 1;
		}

		& img {
			max-width: 20px;
			max-height: 14px;
			opacity: 0.23;
		}

		& p {
			font-size: 12px;
			line-height: (15.6px / 12px) * 100%;
			color: $color2;
		}
	}

	&__title {
		display: block;
		font-size: 16px;
		line-height: (21px / 16px) * 100%;
		font-weight: 500;
		color: $color1;
		text-decoration: none;
		margin-bottom: 5px;

		@media (max-width: 997px) {
			order: 1;
			margin-bottom: 0;
		}

		@media (max-width: 600px) {
			order: 2;
			margin-bottom: 20px;
		}

		& span {
			font-weight: 700;
			text-transform: uppercase;
		}
	}

	&__caretypes {
		line-height: 120%;
		font-weight: 300;
		color: $color2;
		margin-bottom: 15px;
		font-size: 12px;

		@media (max-width: 997px) {
			margin-bottom: 0;
			order: 2;
		}

		@media (max-width: 600px) {
			order: 3;
			margin-bottom: 10px;
			font-size: 14px;
		}

		& span {
			font-weight: 500;
		}
	}

	&__barcode, &__manufacturer, &__brand {
		line-height: 150%;
		font-weight: 300;
		color: $color2;
		margin-bottom: 5px;

		& span {
			font-weight: 500;
		}
	}

	&__barcode {
		@media (max-width: 997px) {
			margin-bottom: 0;
			order: 3;
		}
	}

	&__manufacturer {
		@media (max-width: 997px) {
			margin-bottom: 0;
			order: 4;
		}
	}

	&__brand {
		margin-bottom: 15px;

		@media (max-width: 997px) {
			margin-bottom: 10px;
			order: 5;
		}
	}

	&__purchase-block {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;

		@media (max-width: 997px) {
			margin-bottom: 0;
			order: 7;
			margin-top: auto;
		}
	}

	&__message {
		position: absolute;
		top: -16px;
		right: 0;
		font-size: 12px;
		color: orange;
	}

	&__price {
		font-size: 16px;
		font-weight: 800;
		line-height: (21px / 16px) * 100%;
		color: $color1;
	}

	&__cart-button {
		display: flex;
		align-items: center;
		column-gap: 5px;
		padding: 14px 26px;
		border: 0;
		border-radius: 80px;
		background-color: $color5;
		cursor: pointer;

		&:focus {
			border: 0;
			outline: none;
		}

		& span {
			font-size: 10px;
			font-weight: 700;
			line-height: (12px / 10px) * 100%;
			letter-spacing: 1.5px;
			color: #fff;
			text-transform: uppercase;
		}

		& img {
			max-width: 24px;
			max-height: 17px;
		}
	}
}

.sidebar {
	padding: 30px 0 0 0;

	@media (max-width: 768px) {
		padding: 0;
		margin-bottom: 15px;
	}

	&__filters-top {

		@media (max-width: 768px) {
			display: none;
		}

		& ul {
			flex-direction: column;
			row-gap: 15px;
			align-items: stretch;
	
			& li {
				text-align: left;
			}
		}
	}

	&__title {
		font-size: 16px;
		line-height: 150%;
		font-weight: 500;
		color: $color1;
		margin-bottom: 10px;
		text-transform: uppercase;

		@media (max-width: 768px) {
			margin: 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			& .image-box {
				width: 32px;
				height: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: rgba(255, 202, 101, 0.5);
				transition: all 0.4s ease 0s;
				border-radius: 50%;

				& img {
					max-width: 12px;
					max-height: 12px;
				}
			}

			& .image-box.reverse {
				transform: rotate(180deg);
				background-color: rgba(255, 202, 101, 1);
			}
		}
	}

	&__title.open {
		position: relative;
		z-index: 5;
		
	}

	&__form {
		margin-bottom: 20px;
		border-bottom: 2px dashed rgba(63, 78, 101, 0.3);
		padding-bottom: 30px;
		
		@media (max-width: 768px) {
			display: none;
		}
	}

	&__form.open {
		display: flex;
		flex-direction: column;
		padding: 0;
		background-color: #fff;
		overflow: auto;
		border: 0;

		& .sidebar__controls {
			margin-top: auto;
		}
	}

	&__price {
		margin-bottom: 30px;

		& label {
			display: block;
			line-height: 150%;
			font-weight: 300;
			color: $color2;
			font-size: 14px;
			margin-bottom: 15px;

			& span {
				font-weight: 500;
				color: $color1;
			}
		}

		&_inputs-box {
			display: flex;
			justify-content: space-between;
			column-gap: 10px;

			@media (max-width: 768px) {
				justify-content: start;
			}

			& span {
				font-size: 14px;
				line-height: (18px / 14px) * 100%;
				font-weight: 500;
				color: $color2;
			}

			& input {
				text-align: center;
				padding: 4px 0;
				max-width: 100px;
				font-size: 12px;
				line-height: (14.52px / 12px) * 100%;
				font-weight: 500;
				color: $color2;
				border: 0;
				border-radius: 1000px;
				background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);

				&::placeholder {
					color: rgba(63, 78, 101, 0.5);
				}
				
				&:focus {
					border: 0;
					outline: none;
				}
			}
		}
	}

	&__manufacturer {
		margin-bottom: 25px;

		& >label {
			display: block;
			font-size: 16px;
			line-height: 150%;
			font-weight: 500;
			color: $color1;
			margin-bottom: 15px;
		}

		& >input {
			font-size: 12px;
			line-height: 150%;
			font-weight: 400;
			color: $color1;
			padding: 20.5px 20px;
			background-color: #ededed;
			border-radius: 36px;
			border: 0;
			margin-bottom: 15px;

			&:focus {
				border: 0;
				outline: none;
			}

			&::placeholder {
				color: rgba(92, 99, 112, 0.6);
			}
		}

		& ul {
			max-height: 200px;
			overflow: auto;
			display: flex;
			flex-direction: column;
			row-gap: 5px;
			margin-bottom: 15px;

			& li {
				display: flex;
				align-items: center;
				column-gap: 10px;

				& input {
					cursor: pointer;
				}

				& label {
					font-size: 14px;
					line-height: 150%;
					font-weight: 400;
					color: $color2;
					cursor: pointer;
				}
			}

			& li.hide {
				display: none;
			}
		}

		&_show-hide {
			font-size: 12px;
			line-height: 150%;
			font-weight: 500;
			color: $color2;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	&__controls {
		display: flex;
		justify-content: space-between;
		column-gap: 10px;

		& button {
			display: flex;
			align-items: center;
			justify-content: center;
			border: 0;
			cursor: pointer;
			background-color: $color5;

			&:focus {
				border: 0;
				outline: none;
			}
		}
	}

	&__submit {
		font-size: 14px;
		line-height: (17px / 14px) * 100%;
		font-weight: 700;
		color: #fff;
		padding: 19px 43px;
		border-radius: 79px;
		
	}

	&__reset {
		border-radius: 50%;
		width: 59px;
		height: 59px;

		& img {
			max-width: 20px;
			max-height: 20px;
		}
	}
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: center;

	&__row {
		display: flex;
		align-items: center;
		column-gap: 35px;
	}

	&__prev, &__next {
		cursor: pointer;
		background-color: transparent;
		width: 35px;
		height: 35px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__list {
		display: flex;
		align-items: center;
		column-gap: 7px;
	}

	&__item {
		& button {
			width: 35px;
			height: 35px;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			line-height: (18.2px / 14px) * 100%;
			font-weight: 500;
			color: $color2;
			cursor: pointer;
			border: 0;
			background-color: transparent;

			&:focus {
				border: 0;
				outline: none;
			}

		}

		& button._current {
			background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
		}
	}
}

.bottom-info {
	padding-top: 68px;
	font-size: 14px;
	line-height: 150%;
	color: $color2;
	max-width: 910px;

	@media (max-width: 768px) {
		padding-top: 50px;
	}

	@media (max-width: 600px) {
		padding-top: 35px;
	}
}


// PRODUCT-PAGE ========================================================================================================

.product-page {
	flex: 1 1 auto;

	// .product-page__row
	&__row {
	}

	// .product-page__full-product
	&__full-product {
		
	}
}

.full-product {
	padding: 65px 0 50px;
	display: flex;
	column-gap: 40px;
	align-items: start;
	justify-content: space-between;

	@media (max-width: 997px) {
		flex-direction: column;
		padding: 30px 0 50px;
		align-items: stretch;
	}

	@media (max-width: 768px) {
		padding: 103px 15px 50px;
	}

	// .full-product__image-box
	&__image-box {
		padding: 50px 0;
		flex: 1 1 564px;
		max-height: 700px;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 997px) {
			padding: 20px 0 15px;
			flex: 1 1 auto;
			margin: 0 auto;
		}

		& img {
			max-width: 100%;
			max-height: 100%;
		}
	}

	// .full-product__info
	&__info {
		padding: 40px 0 0;
	}

	// .full-product__in-stock-status
	&__in-stock-status {
		font-size: 14px;
		line-height: (18.2px / 14px) * 100%;
		font-weight: 500;
		color: rgba(31, 216, 93, 1);
		margin-bottom: 10px;
	}

	// .full-product__title
	&__title {
		font-size: 30px;
		line-height: 150%;
		font-weight: 400;
		color: $color1;
		margin-bottom: 10px;

		@media (max-width: 768px) {
			font-size: 24px;
		}

		@media (max-width: 600px) {
			font-size: 16px;
			margin-bottom: 20px;
		}

		& span {
			font-weight: 800;
		}
	}

	// .full-product__size
	&__size {
		display: flex;
		align-items: center;
		column-gap: 5px;
		margin-bottom: 15px;

		@media (max-width: 768px) {
			display: none;
		}

		& img {
			max-width: 20px;
			max-height: 20px;
			opacity: 0.23;
		}

		& span {
			font-size: 12px;
			line-height: (15.6px / 12px) * 100%;
			font-weight: 400;
			color: $color2;
		}
	}

	// .full-product__purchase-block
	&__purchase-block {
		display: flex;
		align-items: center;
		justify-content: start;
		column-gap: 40px;
		margin-bottom: 20px;
		position: relative;

		@media (max-width: 600px) {
			column-gap: 30px;
		}
	}

	// .full-product__pric
	&__price {
		font-size: 30px;
		line-height: (39px / 30px) * 100%;
		font-weight: 800;
		color: $color1;
	}

	// .full-product__quantity
	&__quantity {
		@media (max-width: 997px) {
			margin-left: auto;
		}

		@media (max-width: 600px) {
			margin: 0;
		}
	}

	// .full-product__cart-button
	&__cart-button {
		display: flex;
		align-items: center;
		column-gap: 13px;
		padding: 18px 39.5px;
		border-radius: 79px;
		background-color: $color6;
		cursor: pointer;

		@media (max-width: 600px) {
			max-width: 200px;
			grid-area: 1 / 1 / 2 / 2;
		}

		& span {
			font-size: 14px;
			font-weight: 700;
			line-height: (17px / 14px) * 100%;
			color: #fff;
		}

		& img {
			max-width: 20px;
			max-height: 15px;
		}
	}

	// .full-product__add-info
	&__add-info {
		
	}

	// .full-product__params
	&__params {
	}

	// .full-product__description
	&__description {
		padding: 20px 0;
		max-width: 270px;
		border-bottom: 1px dashed rgba(63, 78, 101, 0.3);
		cursor: pointer;
		display: flex;
		flex-direction: column;
		row-gap: 10px;

		& h1 {
			display: flex;
			align-items: center;
			column-gap: 5px;
			
			& span {
				font-size: 16px;
				line-height: 150%;
				font-weight: 500;
				color: $color1;
			}

			& img {
				max-width: 7px;
				max-height: 7px;
				position: relative;
				top: 2px;
				transition: all 0.4s ease 0s;
			}

			& img.reverse {
				transform: rotate(180deg);
			}
		}

		& div {
			display: none;
		}

		& div.shown {
			display: block;
		}
	}

	// .full-product__characteristics
	&__characteristics {
		padding: 20px 0;
		max-width: 270px;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		row-gap: 10px;

		& h1 {
			display: flex;
			align-items: center;
			column-gap: 5px;
			
			& span {
				font-size: 16px;
				line-height: 150%;
				font-weight: 500;
				color: $color1;
			}

			& img {
				max-width: 7px;
				max-height: 7px;
				position: relative;
				top: 2px;
				transition: all 0.4s ease 0s;
			}

			& img.reverse {
				transform: rotate(180deg);
			}
		}

		& ul {
			display: none;

			& li {
				margin-bottom: 8px;
			}
		}

		& ul.shown {
			display: block;
		}
	}

	&__message {
		font-size: 10px;
		color: orange;
		position: absolute;
		top: -20px;
		right: 0px;

		@media (max-width: 768px) {
			bottom: -20px;
			top: auto;
		}

		@media (max-width: 600px) {
			left: 0;
			bottom: -90px;
		}
	}
}

.quantity {
	display: flex;
	align-items: center;
	column-gap: 19px;

	& button {
		border-radius: 1000px;
		background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
		padding: 4px 14px;
		font-size: 12px;
		line-height: (14.52px / 12px) * 100%;
		color: $color2;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	// .quantity__decrease
	&__decrease {
	}

	// .quantity__count
	&__count {
		font-size: 14px;
		font-weight: 500;
		line-height: (18.2px / 14px) * 100%;
		color: $color2;
	}

	// .quantity__increase
	&__increase {
	}
}

.add-info {
	display: flex;
	align-items: start;
	column-gap: 10px;
	margin-bottom: 35px;
	
	@media (min-width: 601px) {
		height: 77px;
	}

	@media (max-width: 600px) {
		display: grid;
		grid-template-columns: 3fr 1fr;
		grid-template-rows: 60px 77px 77px;
		row-gap: 10px;
		justify-content: space-between;
		margin-bottom: 20px;
	}

	// .add-info__share
	&__share {
		flex: 0 0 77px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.14);
		border-radius: 10px;
		background-color: #fff;
		height: 100%;

		@media (max-width: 768px) {
			width: 59px;
			height: 59px;
		}

		@media (max-width: 600px) {
			grid-area: 1 / 2 / 2 / 3;
		}

		& img {
			max-width: 20px;
			max-height: 20px;
		}
	}

	// .add-info__free-delivery
	&__free-delivery {
		flex: 1 1 auto;
		box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
		border-radius: 10px;
		padding: 20.5px 35.5px;
		font-size: 12px;
		font-weight: 400;
		line-height: 150%;
		text-align: center;

		@media (max-width: 600px) {
			grid-area: 2 / 1 / 3 / -1;
		}

		& span {
			font-weight: 700;
		}
	}

	// .add-info__pricelist

	&__pricelist {
		flex: 1 1 190px;
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 10px;
		padding: 30px;
		box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.14);
		border-radius: 10px;
		background-color: #fff;
		height: 100%;

		@media (max-width: 600px) {
			grid-area: 3 / 1 / 4 / -1;
		}

		& span {
			font-size: 14px;
			line-height: (17px / 14px) * 100%;
			font-weight: 700;
			color: $color2;
			white-space: nowrap;
		}

		& img {
			max-width: 13px;
			max-height: 13px;
		}
	}
}

.params {
	display: flex;
	flex-direction: column;
	row-gap: 5px;
	margin-bottom: 30px;

	// .params__param
	&__param {
		font-size: 14px;
		line-height: 150%;
		font-weight: 300;
		color: $color2;

		& span {
			font-weight: 500;
			color: $color1;
		}
	}

	// .params__manufacturer
	&__manufacturer {
	}

	// .params__brand
	&__brand {
	}

	// .params__vendor
	&__vendor {
	}

	// .params__barcode
	&__barcode {
	}
}


// CART =========================================================================================================
.cart-page {

	@media (max-width: 768px) {
		padding: 103px 0 0;
	}

	& .container {
		width: 100%;
	}

	&__column {
		cursor: default;
		padding-bottom: 100px;

		@media (max-width: 768px) {
			padding: 50px 15px;
		}
	}

	&__title {
		font-size: 40px;
		line-height: (48px / 40px) * 100%;
		font-weight: 500;
		color: $color1;
		padding: 50px 0;
		border-bottom: 1px dashed rgba(63, 78, 101, 0.3);

		@media (max-width: 768px) {
			padding: 20px 0;
		}
	}

	&__list {
		margin-bottom: 50px;

		@media (max-width: 768px) {
			margin-bottom: 35px;
		}
	}

	// .cart__item
	&__item {
		padding: 50px 0;

		@media (max-width: 768px) {
			padding: 20px 0 70px;
		}
	}

	&__controls {
		display: flex;
		align-items: center;
		justify-content: space-between;

		@media (max-width: 480px) {
			flex-direction: column-reverse;
			row-gap: 25px;
		}
	}

	&__checkout {
		padding: 21px 37.5px;
		font-size: 14px;
		line-height: (17px / 14px) * 100%;
		font-weight: 700;
		color: #fff;
		border-radius: 79px;
		background-color: $color6;
		cursor: pointer;
	}

	&__total-price {
		font-size: 30px;
		line-height: (39px / 30px) * 100%;
		font-weight: 700;
		color: $color1;
	}

	&__empty-message {
		padding: 50px 15px;
		font-size: 34px;
		font-weight: 300;
		color: $color2;
		text-align: center;

		@media (max-width: 768px) {
			padding: 30px 0;
			font-size: 28px;
		}
	}
}

.item-cart {
	display: flex;
	align-items: center;
	border-bottom: 1px dashed rgba(63, 78, 101, 0.3);

	@media (max-width: 997px) {
		display: grid;
		grid-template-columns: minmax(200px, 220px) 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}

	@media (max-width: 768px) {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
	}

	// .item-cart__image-box
	&__image-box {
		flex: 0 0 285px;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-right: 20px;

		@media (max-width: 1225px) {
			flex: 0 0 220px;
		}

		@media (max-width: 997px) {
			grid-area: 1 / 1 / -1 / 2;
		}

		@media (max-width: 768px) {
			grid-area: 1 / 1 / 2 / -1;
			margin-right: 0;
			padding: 10px 0;
		}
	}

	// .item-cart__info
	&__info {
		flex: 0 1 400px;

		@media (max-width: 997px) {
			grid-area: 1 / 2 / 2 / -1;
		}

		@media (max-width: 768px) {
			grid-area: 2 / 1 / 3 / -1;
			padding-bottom: 15px;
		}
	}

	// .item-cart__size
	&__size {
		display: flex;
		column-gap: 8px;
		align-items: center;
		margin-bottom: 10px;

		& img {
			opacity: 0.23;
		}

		& p {
			font-size: 12px;
			font-weight: 400;
			line-height: (15.6px / 12px) * 100%;
			color: $color2;
		}
	}

	// .item-cart__title
	&__title {
		font-size: 30px;
		font-weight: 700;
		line-height: (36px / 30px) * 100%;
		color: $color1;
		margin-bottom: 10px;
	}

	// .item-cart__description
	&__description {
		font-size: 12px;
		line-height: 150%;
		font-weight: 300;
		color: $color2;
	}

	// .item-cart__quantity
	&__quantity {
		margin-left: auto;
		position: relative;

		@media (max-width: 997px) {
			grid-area: 2 / 3 / 3 / 4;
		}

		@media (max-width: 768px) {
			grid-area: 4 / 1 / 5 / 2;
			justify-content: start;
			margin-left: 0;
		}
	}

	// .item-cart__prices
	&__prices {
		padding: 5px 22px;
		border-right: 1px dashed rgba(63, 78, 101, 0.2);


		@media (max-width: 997px) {
			grid-area: 2 / 2 / 3 / 3;
			padding: 5px 0;
			border: 0;
		}

		@media (max-width: 768px) {
			grid-area: 3 / 1 / 4 / -1;
			padding: 0 0 15px;
		}
	}

	// .item-cart__single-item-price
	&__single-item-price {
	}

	// .item-cart__total-price
	&__total-price {
	}

	&__remove-button-box {
		flex: 0 1 103px;

		@media (max-width: 1225px) {
			flex: 0 1 80px;
		}

		@media (max-width: 997px) {
			grid-area: 2 / 4 / 3 / 5;
			padding-left: 30px;
		}

		@media (max-width: 768px) {
			grid-area: 4 / 2 / 5 / 3;
		}
	}

	// .item-cart__remove-button
	&__remove-button {
		width: 59px;
		height: 59px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: $color5;
		cursor: pointer;
		margin-left: auto;

		& img {
			max-width: 20px;
			max-height: 20px;
		}
	}

	&__dispatch {
		position: absolute;
		bottom: -70px;
		right: 0;
		font-size: 10px;
		display: flex;
		flex-direction: column;
		row-gap: 5px;
		align-items: center;
		line-height: 150%;

		@media (max-width: 768px) {
			bottom: -60px;
		}

		& button {
			font-size: 12px;
			padding: 7px 12px;
			background-color: orange;
			border-radius: 80px;
			cursor: pointer;

			@media (max-width: 768px) {
				font-size: 10px;
				padding: 4px 10px;
			}
		}
	}
}

.quantity-cart {
	padding: 13px 22px;
	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: 19px;
	border-left: 1px dashed rgba(63, 78, 101, 0.2);
	border-right: 1px dashed rgba(63, 78, 101, 0.2);
	max-width: 200px;

	// .quantity__decrease
	&__decrease {
		border-radius: 1000px;
		background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
		padding: 4px 14px;
		font-size: 12px;
		line-height: (14.52px / 12px) * 100%;
		color: $color2;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	// .quantity__count

	&__count {
		font-size: 14px;
		line-height: (18.2px / 14px) * 100%;
		font-weight: 500;
		color: $color2;
	}

	// .quantity__increase

	&__increase {
		border-radius: 1000px;
		background: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
		padding: 4px 14px;
		font-size: 12px;
		line-height: (14.52px / 12px) * 100%;
		color: $color2;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}

.prices-cart {

	& span {
		font-size: 16px;
		line-height: (39px / 30px) * 100%;
	}

	&__total-price, &__currency {
		font-weight: 700;
	}
}

.thanks {
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: default;

	@media (max-width: 768px) {
		padding: 0 15px;
	}

	&__box {
		padding: 120px 106px;
		position: relative;
		display: flex;
		row-gap: 22px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #fff;
		border-radius: 8px;

		@media (max-width: 997px) {
			padding: 70px 50px;
		}

		@media (max-width: 768px) {
			padding: 70px 20px;
		}
	}

	&__close-x {
		position: absolute;
		top: 36px;
		right: 36px;
		width: 12px;
		height: 12px;
		cursor: pointer;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 17px;
			height: 2px;
			border-radius: 20px;
			background-color: $color5;
			transform: rotate(45deg);
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 17px;
			height: 2px;
			border-radius: 20px;
			background-color: $color5;
			transform: rotate(-45deg);
		}
	}

	&__close-button {
		width: 59px;
		height: 59px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		background-color: $color5;
		cursor: pointer;

		& img {
			max-width: 20px;
			max-height: 20px;
		}
	}

	&__title {
		font-size: 40px;
		line-height: (48px / 40px) * 100%;
		font-weight: 500;
		color: $color1;

		@media (max-width: 768px) {
			font-size: 30px;
		}

		@media (max-width: 480px) {
			font-size: 20px;
		}
	}

	&__subtitle {
		font-size: 20px;
		line-height: (24px / 20px) * 100%;
		font-weight: 300;
		color: $color2;
		text-align: center;

		@media (max-width: 768px) {
			font-size: 18px;
		}

		@media (max-width: 480px) {
			font-size: 14px;
		}
	}
}


// ADMIN PANEL ================================================================================================================
.admin-page {
	display: flex;
	flex-direction: column;
	height: 100%;

	// .admin-page__header
	&__header {
		flex: 0 0 70px;
		background-color: rgb(233, 233, 233);
	}

	// .admin-page__content
	&__content {
		flex: 1 1 auto;
	}

	// .admin-page__footer
	&__footer {
		flex: 0 0 70px;
		background-color: rgb(233, 233, 233);
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.header-admin {

	@media (max-width: 768px) {
		padding: 10px 15px;
	}

	& ul {
		padding: 25px 0;
		height: 100%;
		display: flex;
		align-items: center;
		column-gap: 20px;

		@media (max-width: 480px) {
			padding: 0;
			flex-direction: column;
			align-items: start;	
			row-gap: 10px;
		}

		& li.to-right {
			margin-left: auto;
			text-align: right;

			@media (max-width: 480px) {
				text-align: left;
				margin: 0;
			}
		}

		& li a {
			text-decoration: none;
			color: $color2;
			transition: all 0.4s ease 0s;

			@media (max-width: 768px) {
				font-size: 14px;
			}

			&:hover {
				color: orange;
				text-decoration: underline;
			}
		}
	}
}

.content-admin {
	padding: 30px 0;

	@media (max-width: 768px) {
		padding: 30px 15px;
	}

	// .content-admin__title

	&__title {
		margin-bottom: 50px;
		font-size: 30px;
	}

	// .content-admin__list

	&__list {
		display: flex;
		gap: 20px;
		flex-wrap: wrap;
	}
}

.item-admin {
	flex: 1 1 350px;
	display: grid;
	grid-template-columns: minmax(80px, 140px) 1fr;
	grid-template-rows: 2fr 1fr;
	gap: 15px;
	border: 2px solid rgb(206, 206, 206);
	border-radius: 10px;
	padding: 25px 0 10px;
	position: relative;

	// .item-admin__image-box

	&__image-box {
		grid-area: 1 / 1 / -1 / 2;
		display: flex;
		align-items: center;
		justify-content: center;

		& img {
			max-width: 80%;
			max-height: 80%;
		}
	}

	// .item-admin__info

	&__info {
		grid-area: 1 / 2 / 2 / 3;
		display: flex;
		flex-direction: column;
		row-gap: 10px;
	}

	// .item-admin__controls

	&__controls {
		grid-area: 2 / 2 / 3 / 3;
	}
}
.info-admin {
	

	// .info-admin__title

	&__title {
		font-weight: 700;
		font-size: 16px;
	}

	// .info-admin__description

	&__description {
		font-weight: 500;
		font-size: 16px;
	}

	// .info-admin__barcode

	&__barcode {
		position: absolute;
		top: 10px;
		right: 10px;
		font-weight: 700;

	}

	// .info-admin__price

	&__price {
		font-size: 16px;
	}
}
.controls-admin {

	// .controls-admin__list
	&__list {
		display: flex;
		flex-direction: column;
		row-gap: 10px;

		& li button {
			background-color: $color6;
			padding: 5px 12px;
			border-radius: 50px;
			color: #fff;
			font-weight: 500;
			cursor: pointer;
		}

		& li a {
			color: $color2;
			transition: all 0.4s ease 0s;
			text-decoration: none;

			&:hover {
				color: orange;
				text-decoration: underline;
			}
		}
	}
}


// ADMIN PANEL PRODUCT EDIT =========================================================================================
.admin-page {

	// .admin-page__change
	&__change {
		flex: 1 1 auto;
	}
}

.change-admin {
	padding: 30px 0;

	@media (max-width: 768px) {
		padding: 30px 15px;
	}

	// .change-admin__title
	&__title {
		font-size: 20px;
		margin-bottom: 20px;
		line-height: 150%;

		& span {
			font-weight: 700;
		}
	}

	// .change-admin__product

	&__product {
	}
}
.product-admin {

	// .product-admin__form

	&__form {
		display: grid;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: auto;
		row-gap: 10px;
		column-gap: 20px;

		@media (max-width: 768px) {
			display: flex;
			flex-direction: column;
			row-gap: 30px;
		}
	}

	// .product-admin__group

	&__group {

		& label {
			display: block;
			margin-bottom: 5px;
			font-size: 16px;
			font-weight: 500;
		}

		& input {
			padding: 8px 12px;
			border-radius: 5px;
			font-size: 14px;
			border: 2px solid #777;
			font-weight: 300;
		}

		& textarea {
			max-width: 500px;
			min-width: 400px;
			min-height: 100px;
			max-height: 150px;
			padding: 5px;
			font-size: 14px;
			font-weight: 300;
			border-radius: 5px;

			@media (max-width: 768px) {
				min-width: 250px;
			}
		}

		// .product-admin__group_title
		&_title {
		}

		// .product-admin__group_manufacturer

		&_manufacturer {
		}

		// .product-admin__group_image-url

		&_image-url {
		}

		// .product-admin__group_description

		&_description {
		}

		// .product-admin__group_price

		&_price {
		}

		// .product-admin__group_sizeType

		&_sizeType {
			display: flex;
			flex-direction: column;
			row-gap: 12px;
		}

		// .product-admin__group_size

		&_size {
		}

		// .product-admin__group_brand

		&_brand {
		}

		// .product-admin__group_caretypes

		&_caretypes {
			grid-area: 1 / 2 / -1 / 3;
		}

		// .product-admin__group_controls

		&_controls {
			display: flex;
			align-items: center;
			column-gap: 30px;

			@media (max-width: 768px) {
				flex-direction: column;
				row-gap: 20px;
				align-items: start;
			}

			& button {
				padding: 15px 25px;
				border-radius: 50px;
				background-color: $color6;
				color: #fff;
				font-size: 16px;
				font-weight: 500;
				cursor: pointer;
			}
		}
	}
}

.sizeType {
	

	// .sizeType__type
	&__type {
		display: flex;
		align-items: center;
		column-gap: 10px;

		& input {
			padding: 0;
			margin: 0;
		}

		& label {
			margin-bottom: 0;
		}
	}
}


// NOT FOUND PAGE
.not-found-page {
	// flex: 1 1 auto;
	position: fixed;
	z-index: 33;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 30px 0;
	background-color: #fff;

	@media (max-width: 768px) {
		padding: 50px 15px;
	}

	&__info {
		font-size: 30px;
		line-height: 120%;
		font-weight: 300;
		margin-bottom: 20px;

		& p {
			margin-bottom: 10px;
		}
	}

	& a {
		display: block;
		margin-bottom: 30px;
	}

	&__image-box {
		display: flex;
		align-items: center;
		justify-content: center;

		& img {
			max-width: 300px;
			max-height: 500px;

			@media (max-width: 768px) {
				max-width: 200px;
				max-height: 300px;
			}
		}
	}
}